*{
    margin: 0;
    padding: 0;
}

html{
    font-size: .8px;
}

body{
    background-color: #8dc63f;
    font-family: "Arial";
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10rem;
    padding: 25rem 14rem;
}

aside{
    width: 100%;
    min-width: 200rem;
    margin-bottom: 20rem;
}

h2{
    padding: 15rem 19rem 11rem;
    background-color: #39930d;
    font-size: 18rem;
}

footer{
    background-color: #39930d;
    padding: 14rem 15rem;
}

h1{
    font-size: 24rem;
    font-weight: bold;
    padding-bottom: 17rem;
}

a{
    font-size: 14rem;
    line-height: 2.1em;
    text-transform: uppercase;
}

ul{
    list-style: none;
    padding: 20rem;
}

.main{
    background-color: #ffffff;
    max-width: 960rem;
    margin: 0 auto;
}

h1, a, .football, .manager{
    color: #39930d;
}

h2, .second_logo{
    color: #ffffff;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 34rem;
}

.tittle{
    gap: 12rem;
}

.football{
    font-size: 22rem;
}

.manager{
    font-size: 44rem;
    font-weight: bold;
}

.oficial_site{
    font-size: 14rem;
    color: #5a5a5a;
    font-style: italic;
}

.phone{
    font-size: 22rem;
    text-decoration: none;
}

.schedule{
    font-size: 14rem;
    color: #5a5a5a;
    font-style: italic;
}

.pf{
    width: 100%;
    margin-bottom: 25rem;
}

.pitch{
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 80%;
    display: block;
    margin: 0 auto;
}

.text{
    display: flex;
    flex-direction: row;
    padding: 0 14rem;
    gap: 38rem;
    margin-bottom: 29rem;
}

.main_container{
    display: flex;
    flex-wrap: wrap-reverse;
}

.main_text{
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
}

.main_text > p{
    padding-bottom: 18rem;
}

footer{
    font-size: 16rem;
}

@media screen and (min-width: 495px) {
    .contacts {
        text-align: right;
    }

    .schedule{
        text-align: left;
    }
}

@media screen and (min-width: 500px) {
    .schedule{
        text-align: right;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.93px;;
    }

    aside {
        max-width: 300rem;
    }

    .main_container{
        display: flex;
        flex-wrap: nowrap;
        column-gap: 20px;
    }

    .pitch{
        width: 100%;
        height: 100%;
    }

    .main_text{
        max-width: 594rem;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.5px;
    }
}

@media screen and (min-width: 3000px) {
    html {
        font-size: 2px;
    }
}