*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #8dc63f;
    font-family: "Arial";
}

main img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 14px;
}

aside{
    min-width: 300px;
}

h2{
    padding: 15px 19px 11px;
    background-color: #39930d;
    font-size: 18px;
}

footer{
    background-color: #39930d;
    padding: 14px 15px;
}

h1{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 17px;
}

a{
    font-size: 14px;
    line-height: 2.1em;
    text-transform: uppercase;
}

ul{
    list-style: none;
    padding: 20px;
}

.main{
    background-color: #ffffff;
    max-width: 960px;
    margin: 0 auto;
}

.football{
    
}

h1, a, .football, .manager{
    color: #39930d;
}

h2, .second_logo{
    color: #ffffff;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.schedule{
    text-align: right;
}

.tittle{
    gap: 12px;
}

.football{
    font-size: 22px;
}

.manager{
    font-size: 44px;
    font-weight: bold;
}

.oficial_site{
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
}

.phone{
    font-size: 22px;
    text-decoration: none;
}

.schedule{
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
}

.pf{
    width: 100%;
    margin-bottom: 25px;
}

.text{
    display: flex;
    flex-direction: row;
    padding-left: 14px;
    gap: 38px;
    margin-bottom: 29px;
}

.main_text{
    max-width: 594px;
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}

.main_text > p{
    padding-bottom: 18px;
}